@using Entity.Concrete
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Topic>

@{
    ViewBag.Title = "AllTopics";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body class="hold-transition sidebar-mini">

    <!-- Main Sidebar Container -->
    <!-- Content Wrapper. Contains page content -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>All Topics</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    @using (Html.BeginForm("AllTopics", "WriterPanel", FormMethod.Post))
    {
        <input type="text" name="p" placeholder="Search Medicine" />
        <input type="submit" value="Search"/>
        <input type="submit" value="Clear Filter" onclick="this.form.p.value='';" />
    }
    <br/>
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 5%">
                                #
                            </th>
                            <th style="width: 30%">
                                Name
                            </th>
                            @*<th style="width: 15%">
                                Writer
                            </th>*@
                            <th style="width: 20%" class="text-center">
                                Category
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Topic topic in Model)
                        {
                            <tr>
                                <td>
                                    @topic.Id
                                </td>
                                <td>
                                    <a>
                                        @topic.Name
                                    </a>
                                    <br />
                                    <small>
                                        @(((DateTime)topic.CreatedAt).ToString("MM-dd-yyyy"))
                                    </small>
                                </td>
                                <!--<td>-->
                                    @*<ul class="list-inline">
                                        <li class="list-inline-item">
                                            <img alt="Avatar" class="table-avatar" src="@topic.Writer.Image" width="50" height="60">
                                            @topic.Writer.Username
                                        </li>
                                    </ul>*@
                                <!--</td>-->
                                <td class="project-state">
                                    <span class="badge badge-success">@topic.Category.Name</span>
                                </td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm mx-lg-5 text-md" href="/WriterPanelEntry/GetEntriesByTopic/@topic.Id">
                                        <i class="fas fa-folder">
                                        </i>
                                        Entries
                                    </a>
                                    <a class="btn btn-success btn-sm ml-5 text-md" href="/WriterPanelEntry/AddEntry/@topic.Id">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Make a Review
                                    </a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>

</body>
</html>
@Html.PagedListPager((IPagedList)Model, np => Url.Action("AllTopics", new { np }), new PagedListRenderOptions 
{ 
    LiElementClasses=new List<string>
    { "page-link"}
})

