@using Entity.Concrete
@model List<Topic>

@{
    ViewBag.Title = "WriterTopics";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body class="hold-transition sidebar-mini">

    <!-- Main Sidebar Container -->
    <!-- Content Wrapper. Contains page content -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>My Topics</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">
                                #
                            </th>
                            <th style="width: 20%">
                                Name
                            </th>
                            <th style="width: 15%">
                                Writer
                            </th>
                            <th style="width: 15%" class="text-center">
                                Category
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Topic topic in Model)
                        {
                            <tr>
                                <td>
                                    @topic.Id
                                </td>
                                <td>
                                    <a>
                                        @topic.Name
                                    </a>
                                    <br />
                                    <small>
                                        @(((DateTime)topic.CreatedAt).ToString("MM-dd-yyyy"))
                                    </small>
                                </td>
                                <td>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <img alt="Avatar" class="table-avatar" src="@topic.Writer.Image">
                                            @topic.Writer.Username
                                        </li>
                                    </ul>
                                </td>
                                <td class="project-state">
                                    <span class="badge badge-success">@topic.Category.Name</span>
                                </td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm mx-lg-5 text-md" href="/Default/Topics/@topic.Id">
                                        <i class="fas fa-folder">
                                        </i>
                                        Entries
                                    </a>
                                    <a class="btn btn-info btn-sm ml-5 text-md" href="/WriterPanel/UpdateTopic/@topic.Id">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Edit
                                    </a>
                                    <a class="btn btn-danger btn-sm mx-2 text-md" href="/WriterPanel/DeleteTopic/@topic.Id">
                                        <i class="fas fa-trash">
                                        </i>
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>

</body>
</html>
<a href="/WriterPanel/AddTopic" class="btn btn-primary">New Topic</a>

